# Imports

In [35]:
import pandas as pd
import numpy as np
import datetime

# Config

In [36]:
np.random.seed(1)

# Known data

In [37]:
dates = np.array(["2021-11-11", "2021-11-12", "2021-11-13"])

times = np.array(["00:00", "07:00", "12:00", "18:00", "20:00"])

cities = np.array(["Lviv", "Rivne", "Kyiv", "Kharkiv", "Odessa"])

# (type 1, type 2, type3) per train
type_count = np.array([50, 50, 50])

In [38]:
df_trips = pd.DataFrame(columns=
[
    "id",
    "date",
    "time",
    "from_city",
    "to_city",
    "travel_time",
    "seat_type_1_price",
    "seat_type_2_price",
    "seat_type_3_price"
    ])
df_trips["id"] = [x for x in range(1, 26)]
df_trips["date"] = dates[np.random.randint(0, dates.shape[0], 25)]
df_trips["time"] = times[np.random.randint(0, times.shape[0], 25)]
df_trips["from_city"] = cities[np.random.randint(0, cities.shape[0], 25)]
df_trips["to_city"] = cities[np.random.randint(0, cities.shape[0], 25)]

df_trips["travel_time"] = np.random.randint(3, 10, 25)

df_trips["seat_type_1_price"] = np.round(np.random.normal(100, 20, 25), 2)
df_trips["seat_type_2_price"] = np.round(np.random.normal(100, 20, 25), 2)
df_trips["seat_type_3_price"] = np.round(np.random.normal(100, 20, 25), 2)
df_trips

,id,date,time,from_city,to_city,travel_time,seat_type_1_price,seat_type_2_price,seat_type_3_price
0,1,2021-11-12,20:00,Odessa,Kharkiv,5,143.71,87.23,122.43
1,2,2021-11-11,07:00,Kyiv,Odessa,3,72.07,108.47,108.18
2,3,2021-11-11,07:00,Odessa,Kyiv,8,71.12,101.55,99.51
3,4,2021-11-12,00:00,Lviv,Lviv,5,89.91,93.12,84.50
4,5,2021-11-12,07:00,Kharkiv,Lviv,7,103.20,100.87,125.48
5,6,2021-11-11,07:00,Rivne,Rivne,4,117.52,87.60,139.34
6,7,2021-11-11,07:00,Kyiv,Rivne,4,106.31,113.96,62.84
7,8,2021-11-12,07:00,Lviv,Kharkiv,3,59.56,91.06,124.72
8,9,2021-11-11,00:00,Odessa,Lviv,5,93.88,124.49,132.55
9,10,2021-11-12,20:00,Rivne,Lviv,7,116.56,108.07,106.76
10,11,2021-11-11,07:00,Kyiv,Odessa,7,104.60,111.87,76.01
11,12,2021-11-13,00:00,Kyiv,Kyiv,3,115.24,78.10,117.27
12,13,2021-11-12,00:00,Rivne,Odessa,7,95.55,103.39,96.38
13,14,2021-11-13,18:00,Lviv,Kharkiv,4,95.98,114.81,87.92
14,15,2021-11-11,12:00,Rivne,Kharkiv,9,103.73,80.93,75.40
15,16,2021-11-13,07:00,Kharkiv,Lviv,7,108.20,94.68,111.01
16,17,2021-11-12,00:00,Odessa,Kharkiv,4,103.97,100.65,115.86
17,18,2021-11-13,18:00,Kharkiv,Odessa,3,102.38,72.54,87.53
18,19,2021-11-11,07:00,Rivne,Kharkiv,5,86.59,106.30,110.41
19,20,2021-11-11,07:00,Kharkiv,Odessa,6,107.55,116.92,77.11
20,21,2021-11-13,18:00,Lviv,Odessa,4,102.44,82.81,116.04
21,22,2021-11-11,20:00,Lviv,Odessa,5,122.59,107.01,100.93
22,23,2021-11-12,00:00,Kyiv,Rivne,7,123.98,73.75,96.27
23,24,2021-11-13,07:00,Kyiv,Lviv,7,103.70,99.23,97.97
24,25,2021-11-13,18:00,Rivne,Odessa,5,92.49,67.68,117.38

In [39]:
df_tickets = pd.DataFrame(columns=["trip_id", "seat_type", "seat_num"])

for trip_i, trip_row in df_trips.iterrows():
    
    df_trip_tickets = pd.DataFrame(columns=["trip_id", "seat_type", "seat_num"])

    df_trip_tickets["trip_id"] = [trip_i + 1 for x in range(type_count.sum())]
    df_trip_tickets["seat_type"] = [1 for x in range(type_count[0])] + [2 for x in range(type_count[1])] + [3 for x in range(type_count[2])]
    df_trip_tickets["seat_num"] = list(range(type_count[0])) + list(range(type_count[1])) + list(range(type_count[2]))

    df_tickets = df_tickets.append(df_trip_tickets, ignore_index=True)
df_tickets["id"] = [x for x in range(1, len(df_tickets) + 1)]
df_tickets

     trip_id seat_type seat_num    id
0          1         1        0     1
1          1         1        1     2
2          1         1        2     3
3          1         1        3     4
4          1         1        4     5
...      ...       ...      ...   ...
3745      25         3       45  3746
3746      25         3       46  3747
3747      25         3       47  3748
3748      25         3       48  3749
3749      25         3       49  3750

[3750 rows x 4 columns]

## Save

In [40]:
df_trips.to_csv("trips.csv", index=False)

In [41]:
df_tickets.to_csv("tickets.csv", index=False)

In [45]:
df_trips.merge(df_tickets, how="left", left_on="id", right_on="trip_id", suffixes=("_", "")).drop("id_", axis=1)

,id_,date,time,from_city,to_city,travel_time,seat_type_1_price,seat_type_2_price,seat_type_3_price,trip_id,seat_type,seat_num,id
0,1,2021-11-12,20:00,Odessa,Kharkiv,5,143.71,87.23,122.43,1,1,0,1
1,1,2021-11-12,20:00,Odessa,Kharkiv,5,143.71,87.23,122.43,1,1,1,2
2,1,2021-11-12,20:00,Odessa,Kharkiv,5,143.71,87.23,122.43,1,1,2,3
3,1,2021-11-12,20:00,Odessa,Kharkiv,5,143.71,87.23,122.43,1,1,3,4
4,1,2021-11-12,20:00,Odessa,Kharkiv,5,143.71,87.23,122.43,1,1,4,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3745,25,2021-11-13,18:00,Rivne,Odessa,5,92.49,67.68,117.38,25,3,45,3746
3746,25,2021-11-13,18:00,Rivne,Odessa,5,92.49,67.68,117.38,25,3,46,3747
3747,25,2021-11-13,18:00,Rivne,Odessa,5,92.49,67.68,117.38,25,3,47,3748
3748,25,2021-11-13,18:00,Rivne,Odessa,5,92.49,67.68,117.38,25,3,48,3749
3749,25,2021-11-13,18:00,Rivne,Odessa,5,92.49,67.68,117.38,25,3,49,3750